@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Providing great service for over 20 years!</h3>

<p>If you have any concerns about reservations, payment or just want a chat about our great bike avalible for rental. Get in touch!</p>

